.Toastify__toast-body > div,
.Toastify__toast-body {
    text-align: center !important;
    width: 10%;
}

h1 {
    margin: 0;
    color: white;
}

h2 {
    text-align: left;
    margin: 0;
    margin-left: 0;
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    text-align: center;
    margin: 0;
    color: darkgray;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    margin-right: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/libraryPic2.JPG");
    background-size: 100% auto;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

video {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

hr {
    color: #ffffff;
}

#nav {
    width: max(30%, 600px);
    font-size: 120%;
    border-spacing: 0px;
    padding-top: 5px;
    border: hidden;
    padding-left: 0px;
    padding-right: 5px;
    border: hidden;
}

#nav_item {
    width: 300px;
    font-size: 120%;
    border: hidden;
    font-weight: bold;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:10px;
    padding-right:0px;
    border: hidden;
}
#nav_checkOut, #nav_search  {
    background-color:#e0e0e0;
    width: min(100%, 300px);
    margin-left: 0px;
    margin-right: 0px;
    font-size: 80%;
    border-style: hidden;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: hidden;
}
a:link a:visited a:hover a:active {
    text-decoration: none;
    color: black;
}
#nav_button:hover {
    text-decoration: none;
    background-color: #80a0e0;
    color: white;
}

@media only screen and (max-width:650px) {
    #nav {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-right: 0px;
    }
    #nav_item {
        width: 50%;
    }
    #nav_print {
        display: none;
    }
    h2 {
        margin-left: 20px;
    }
}
